@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import 'markdown.css';

html {
  font-size: 14px;
}

@media only screen and (min-width: 1024px) { 
  html {
    font-size: 15px;
  }
}

@media only screen and (min-width: 1280px) { 
  html {
    font-size: 16px;
  }
}

body {
  @apply tracking-normal;
}

.btn {
  @apply font-medium py-2 px-4 rounded;
  @apply bg-primary0 text-white;
  display: inline-flex;
  min-width: max-content;
}

.btn-primary1 {
  @apply bg-primary1 text-white;
}

.btn-primary2 {
  @apply bg-primary2 text-white;
}

.btn-ghost {
  @apply bg-white text-primary1 border-primary1 border-solid border;
}

.btn:hover {
  @apply bg-gray-500;
}

.btn-ghost:hover {
  @apply bg-primary1 text-white;
}

.btn-ghost-cancel {
  @apply bg-white text-red-600 border-red-600 border-solid border;
}

.btn-ghost-cancel:hover {
  @apply bg-red-600 text-white;
}
