<footer class="bg-black text-gray-300 p-4 w-full">
  <div class="flex justify-center">
    © {{ now.Format "2006" }} {{ .Site.Title }}
  </div>
  <div class="flex justify-center my-1">
    <a href="/terms-of-service">Terms of Service</a>
    <span class="mx-2">•</span>
    <a href="/privacy-policy">Privacy Policy</a>
  </div>
</footer>