<title>{{ .Site.Title }}</title>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

<!-- Google Tag Manager -->
<!-- <script>
  (function (w, d, s, l, i) {
    w[l] = w[l] || []; w[l].push({
      'gtm.start':
        new Date().getTime(), event: 'gtm.js'
    }); var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
  })(window, document, 'script', 'dataLayer', 'GTM-TAG-HERE');
</script> -->
<!-- End Google Tag Manager -->

{{ partial "favicons" . }}

{{ $stylesheet := resources.Get "css/main.css" | resources.PostCSS }}

<link rel="stylesheet" type="text/css" href="{{ $stylesheet.Permalink }}" integrity="{{ $stylesheet.Data.Integrity }}"
  media="screen" />