<!DOCTYPE html>
<html lang="en">

<head>
  {{ partial "head.html" . }}
</head>

<body>
  {{ partial "analytics.html" . }}
  <div class="min-h-90vh">
    <div id="root">{{ .Content }}</div>
  </div>
  {{ partial "footer.html" . }}
  {{ partial "scripts.html" . }}
</body>

</html>